<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

  <localRepository>/opt/builds_cache/repository</localRepository>

  <pluginGroups>

  </pluginGroups>


  <proxies>
  </proxies>


  <servers>
    <server>
      <id>mymaven</id>
      <username>admin</username>
      <password>zaq1@WSX</password>
    </server>
  </servers>


  <mirrors>
    <mirror>
      <id>nexus-maven</id>
      <mirrorOf>central</mirrorOf>
      <name>nexus-maven</name>
      <url>http://192.168.5.85:8803/repository/maven-public/</url>
    </mirror>
  </mirrors>

  <profiles>
  </profiles>


</settings>
